.page-title {
  display: block !important;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 1rem !important;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.ui.teal.button:hover,
.ui.teal.buttons .button:hover {
  background-color: #01a79e;
}
